extends baseadmin

block contenido
    .container
        .row
            .col
                 h3 Bienvenido, #{usuario} !
        .row
            .col
                h2 Lista de Pedidos Realizados 
        .row
            .col
                 table.table.table-bordered.table-hover.table-responsive
                    thead.thead-dark
                        tr
                            th #
                            th Numero de Orden
                            th Estado de Orden 
                            th Fecha de Orden
                            th Usuario  
                            th correo
                            th Direccion 1
                            th Direccion 2
                            th Telefono
                            th 
                        tr 
                            -var number = 0;
                            each lista in modelo
                                form(action='/actualizarP', method='POST')
                                    td #{number+1}  
                                    td #{lista.ordernum}
                                        input#ordernum(type='text' name='ordernum')
                                    td #{lista.orderstatus}
                                        input#orderstatus(type='text' name='orderstat')
                                    td #{lista.orderdate}
                                        input#orderdate(type='date' name='orderdate')
                                    td #{lista.usuario}
                                        input#usuario(type='text' name='usuario' )    
                                    td #{lista.correo}
                                        input#correo(type='email' name='correo')
                                    td #{lista.direccion1}
                                        input#direccion1(type='text' name='direccion1')
                                    td #{lista.direccion2}
                                        input#direccion2(type='text' name='direccion2')
                                    td #{lista.telefono}
                                        input#telefono(type='number' name='telefono')
                                    td 
                                        input(type='submit',value='Actualizar').btn.btn-success
                                form(action='/eliminar', method='POST')
                                    input(type='hidden', value=lista.ordernum, name='ordernum')
                                    td
                                        input(type='submit',value='Borrar').btn.btn-danger
                                tr 
                            form(method='POST', action='/insertarP')
                                td Nuevo
                                td
                                    input#ordernum(type='text' name='ordernum')
                                td
                                    input#orderstat(type='text' name='orderstat') 
                                td
                                    input#orderdate(type='date' name='orderdate')
                                td
                                    input#usuario(type='text' name='usuario')
                                td
                                    input#correo(type='email' name='correo')
                                td
                                    input#direccion1(name="direccion1")
                                td
                                    input#direccion2(name="direccion2")
                                td
                                    input#telefono(type='number' name='telefono')       
                                td(colspan='2' style='text-align:center')
                                    input.btn.btn-primary(type='submit' value='Insertar') 
                                
