extends baseindex
block contenido  
    .container
      .row
        // NAVIGATION
        #navigation
          // container
          .container
            #responsive-nav
              // category nav
              .category-nav
                span.category-header
                  | Categorias 
                  i.fa.fa-list
                ul.category-list
                  
                  li.dropdown.mega-dropdown
                    a.dropdown-toggle(data-toggle='dropdown' aria-expanded='true')
                      | Mundial
                      i.fa.fa-caret-down
                    .custom-menu
                      .row
                        .col-md-4
                          ul.list-links
                            li
                              h3.list-links-title Equipos
                            
                            //////////////////
                            - var produ = productos
                            
                            - produ.forEach(function(producto){
                                if producto.liga === "Mundial"
                                 li
                                  a(href='/producto/'+producto.id) #{producto.titulo}
                            - });
                          hr.hidden-md.hidden-lg
                  li.dropdown.mega-dropdown
                    a.dropdown-toggle(data-toggle='dropdown' aria-expanded='true')
                      | Liga Espanola 
                      i.fa.fa-caret-down
                    .custom-menu
                      .row
                        .col-md-4
                          ul.list-links
                            li
                              h3.list-links-title Equipos
                            
                            /////////////////
                            - var produ = productos
                            
                            - produ.forEach(function(producto){
                                if producto.liga === "Espanola"
                                 li
                                  a(href='/producto/'+producto.id) #{producto.titulo}
                            - });
                          hr.hidden-md.hidden-lg
                  
                  li.dropdown.mega-dropdown
                    a.dropdown-toggle(data-toggle='dropdown' aria-expanded='true')
                      | Liga Alemana 
                      i.fa.fa-caret-down
                    .custom-menu
                      .row
                        .col-md-4
                          ul.list-links
                            li
                              h3.list-links-title Equipos
                            
                            /////////////////
                            - var produ = productos
                            
                            - produ.forEach(function(producto){
                                if producto.liga === "Alemana"
                                 li
                                  a(href='/producto/'+producto.id) #{producto.titulo}
                            - });
                          hr.hidden-md.hidden-lg
                  li.dropdown.mega-dropdown
                    a.dropdown-toggle(data-toggle='dropdown' aria-expanded='true')
                      | Liga Inglesa 
                      i.fa.fa-caret-down
                    .custom-menu
                      .row
                        .col-md-4
                          ul.list-links
                            li
                              h3.list-links-title Equipos
                            
                            /////////////////
                            - var produ = productos
                            
                            - produ.forEach(function(producto){
                                if producto.liga === "Inglesa"
                                 li
                                  a(href='/producto/'+producto.id) #{producto.titulo}
                            - });
                          hr.hidden-md.hidden-lg
                 

              // /category nav
              // menu nav
              .menu-nav
                span.menu-header
                  | Menu 
                  i.fa.fa-bars
                
                ul.menu-list
                  li
                    a(href='/') Incio
                  
                  li
                    a(href='#') Metodo de pago/Entregas
                  |             
                  li
                    a(href='#') Quienes somos
                  
                  li
                    a(href='#') Contactenos
                  
                  li
                    a(href='#')
              // menu nav
          // /container
        // /NAVIGATION
        // HOME
        #home
          // container
          .container
            // home wrap
            .home-wrap
              // home slick
              #home-slick
                // banner
                .banner.banner-1
                  img(src='/img/015206671222748eea1MJ1banner1.jpg', alt='')
                  
                  .banner-caption.text-center
                    a.primary-btn(href="/", role= "button") Ir
                // /banner
               
                // banner
                .banner.banner-1
                  img(src='/img/015205003916f338905MJ1banner2.jpg', alt='')
                  
                  .banner-caption
                    a.primary-btn(href="/producto/5b5403ef42ddf47d97d64a95", role= "button") Comprar
                // /banner
              // /home slick
            // /home wrap
          // /container
        // /HOME
        // /.col-lg-3
        .col-lg-12
          .row
            - var produ = productos
            - if (produ.length)
              - produ.forEach(function(producto){
                -if(producto.liga === "Mundial"){
                .col-lg-4.col-md-6.mb-4
                  .card.h-0
                    a(href="/producto/" + producto.id)
                      img.card-img-top(src= producto.imagePath, height="200px" alt="")
                  .card-body
                    h4.card-title
                      a(href="/producto/" + producto.id) #{producto.titulo}
                    h5 $#{producto.precio}
                    p.card-text #{producto.descripcion}  
                  a.btn.btn-success.pull-right(href="/producto/" + producto.id ,role="button") Ver
                  .card-footer
                    small.text-muted ★ ★ ★ ★ ☆
              -}      
              - });

          // /.row
        // /.col-lg-9
      // /.row
    // /.container
    // Footer
    |
    br
    |
    br
    |
    br
    |
    footer#footer.section.section-grey
      // container
      .container
        // row
        .row
          // footer widget
          .col-md-3.col-sm-6.col-xs-6
            .footer
              // footer logo
              .footer-logo
                a.logo(href='#')
                  img(src='/img/logo-bandera.png', alt='')
              // /footer logo
              p
                | Panama Jerseys tu tienda favorita para compras de camisetas deportivas
          // /footer widget
          // footer widget
          .col-md-3.col-sm-6.col-xs-6
            .footer
              h3.footer-header Mi Cuenta
              | 
              ul.list-links
                li
                  a(href='/perfil') Perfil
                | 
                li
                  a(href='/shopping-cart') Carrito
                | 
                li
                  a(href='/logout') Cerrar Sesion
                | 
                li
                  a(href='/login') Iniciar Sesion
          // /footer widget
          .clearfix.visible-sm.visible-xs
          // footer widget
          .col-md-3.col-sm-6.col-xs-6
            .footer
              h3.footer-header Panama jerseys
              | 
              ul.list-links
                li
                  a(href='/') Inicio
                | 
                li
                  a(href='/pago_entrega') Pago / entregas
                | 
                li
                  a(href='/quienes') Quienes somos
                | 
                li
                  a(href='/contacto') Contactenos
          // /footer widget
          // footer subscribe
          .col-md-3.col-sm-6.col-xs-6
            .footer
              h3.footer-header Mantente al tanto
              | 
              p Mantente al corriente con nuestos nuevos productos u ofertas.
              | 
              form
                .form-group
                  input.input(placeholder='Correo electronico')
                | 
                button.primary-btn Anótame
          // /footer subscribe
        // /row
        hr
        // row
        .row
          .col-md-8.col-md-offset-2.text-center
            // footer copyright
            .footer-copyright
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
              | Copyright &copy;
              script.
                document.write(new Date().getFullYear());
              |  All rights reserved Panama jerseys
      // /.container
    // Bootstrap core JavaScript
  
    script(src='/js/jquery.min.js')
    |     
    script(src='/js/bootstrap.min.js')
    |     
    script(src='/js/slick.min.js')
    |     
    script(src='/js/nouislider.min.js')
    |     
    script(src='/js/jquery.zoom.min.js')
    |     
    script(src='/js/main.js')
