extends basehead

block contenido
    .container
      .row
        // NAVIGATION
        #navigation
          // container
          .container
            #responsive-nav
              // category nav
              .category-nav.show-on-click
                span.category-header
                  | Categorias 
                  i.fa.fa-list
                ul.category-list
                  
                  li.dropdown.mega-dropdown
                    a.dropdown-toggle(data-toggle='dropdown' aria-expanded='true')
                      | Mundial
                      i.fa.fa-caret-down
                    .custom-menu
                      .row
                        .col-md-4
                          ul.list-links
                            li
                              h3.list-links-title Equipos
                            
                            //////////////////
                            - var produ = productos
                            
                            - produ.forEach(function(producti){
                                if producti.liga === "Mundial"
                                 li
                                  a(href='/producto/'+producti.id) #{producti.titulo}
                            - });
                          hr.hidden-md.hidden-lg
                  li.dropdown.mega-dropdown
                    a.dropdown-toggle(data-toggle='dropdown' aria-expanded='true')
                      | Liga Espanola 
                      i.fa.fa-caret-down
                    .custom-menu
                      .row
                        .col-md-4
                          ul.list-links
                            li
                              h3.list-links-title Equipos
                            
                            /////////////////
                            - var produ = productos
                            
                            - produ.forEach(function(producti){
                                if producti.liga === "Espanola"
                                 li
                                  a(href='/producto/'+producti.id) #{producti.titulo}
                            - });
                          hr.hidden-md.hidden-lg
                  
                  li.dropdown.mega-dropdown
                    a.dropdown-toggle(data-toggle='dropdown' aria-expanded='true')
                      | Liga Alemana 
                      i.fa.fa-caret-down
                    .custom-menu
                      .row
                        .col-md-4
                          ul.list-links
                            li
                              h3.list-links-title Equipos
                            
                            /////////////////
                            - var produ = productos
                            
                            - produ.forEach(function(producti){
                                if producti.liga === "Alemana"
                                 li
                                  a(href='/producto/'+producti.id) #{producti.titulo}
                            - });
                          hr.hidden-md.hidden-lg
                  li.dropdown.mega-dropdown
                    a.dropdown-toggle(data-toggle='dropdown' aria-expanded='true')
                      | Liga Inglesa 
                      i.fa.fa-caret-down
                    .custom-menu
                      .row
                        .col-md-4
                          ul.list-links
                            li
                              h3.list-links-title Equipos
                            
                            /////////////////
                            - var produ = productos
                            
                            - produ.forEach(function(producti){
                                if producti.liga === "Inglesa"
                                 li
                                  a(href='/producto/'+producti.id) #{producti.titulo}
                            - });
                          hr.hidden-md.hidden-lg
                 

              // /category nav
              // menu nav
              .menu-nav
                span.menu-header
                  | Menu 
                  i.fa.fa-bars
                | 
                ul.menu-list
                  li
                    a(href='/') Incio
                  | 
                  li
                    a(href='#') Metodo de pago/Entregas
                  |             
                  li
                    a(href='#') Quienes somos
                  | 
                  li
                    a(href='#') Contactenos
                  | 
                  li
                    a(href='#')
              // menu nav
          // /container
        // /NAVIGATION
        // BREADCRUMB
        #breadcrumb
          .container
            ul.breadcrumb
              li
                a(href='/') Inicio
              | 
              li
                a(href='#') Camisetas
              | 
              li
                a(href='#') #{producto.liga}
              | 
              li.active  #{producto.titulo}
        // /BREADCRUMB
        // section
        .section
          // container
          .container
            // row
            .row
              // Product Details
              .product.product-details.clearfix
                .col-md-6
                  #product-main-view
                    .product-view
                      img(src=producto.imagePath, alt='')
                    | 
                  | 
                  
                | 
                .col-md-6
                  .product-body
                    .product-label
                      if hasSuccess
                        .alert.alert-success
                          each lista in messages
                             p  #{lista}
                    | 
                    h2.product-name  #{producto.titulo}
                    | 
                    h3.product-price $#{producto.precio}
                     
                  | 
                  p
                    strong Disponibilidad:
                    if producto.cantidad > 1
                      |   Disponible
                    else
                      |  Para Pedidos
                  | 
                  p
                    strong Marca:
                    |  #{producto.talla}
                  | 
                  p
                    | #{producto.descripcion}
                  | 
                  .product-options
                    ul.size-option
                      li
                        span.text-uppercase Tamaño:
                      | 
                      form(action='/add-to-cart/' + producto.id , method= 'POST')
                        input#tamano(type='radio', name='tamano', value='S')
                        |  Small
                        br
                        input#tamano(type='radio', name='tamano', value='M' checked)
                        |  Medium
                        br
                        input#tamano(type='radio', name='tamano',value='L')
                        |  Large
                        br 
                        input(type='hidden', name='_csrf', value=csrfToken)                                         
                        button.primary-btn.add-to-cart(type='submit')
                          i.fa.fa-shopping-cart
                            |  Agregar al carrito
                    | 
                  | 
                        
    
    //FIN COMIDA             
     