extends basehead

block contenido
    .container
      .row
        // NAVIGATION
        #navigation
          // container
          .container
            #responsive-nav
              // category nav
              .category-nav.show-on-click
                span.category-header
                  | Categorias 
                  i.fa.fa-list
                ul.category-list
                  
                  li.dropdown.mega-dropdown
                    a.dropdown-toggle(data-toggle='dropdown' aria-expanded='true')
                      | Mundial
                      i.fa.fa-caret-down
                    .custom-menu
                      .row
                        .col-md-4
                          ul.list-links
                            li
                              h3.list-links-title Equipos
                            
                            //////////////////
                            - var produ = productos
                            
                            - produ.forEach(function(producti){
                                if producti.liga === "Mundial"
                                 li
                                  a(href='/producto/'+producti.id) #{producti.titulo}
                            - });
                          hr.hidden-md.hidden-lg
                  li.dropdown.mega-dropdown
                    a.dropdown-toggle(data-toggle='dropdown' aria-expanded='true')
                      | Liga Espanola 
                      i.fa.fa-caret-down
                    .custom-menu
                      .row
                        .col-md-4
                          ul.list-links
                            li
                              h3.list-links-title Equipos
                            
                            /////////////////
                            - var produ = productos
                            
                            - produ.forEach(function(producti){
                                if producti.liga === "Espanola"
                                 li
                                  a(href='/producto/'+producti.id) #{producti.titulo}
                            - });
                          hr.hidden-md.hidden-lg
                  
                  li.dropdown.mega-dropdown
                    a.dropdown-toggle(data-toggle='dropdown' aria-expanded='true')
                      | Liga Alemana 
                      i.fa.fa-caret-down
                    .custom-menu
                      .row
                        .col-md-4
                          ul.list-links
                            li
                              h3.list-links-title Equipos
                            
                            /////////////////
                            - var produ = productos
                            
                            - produ.forEach(function(producti){
                                if producti.liga === "Alemana"
                                 li
                                  a(href='/producto/'+producti.id) #{producti.titulo}
                            - });
                          hr.hidden-md.hidden-lg
                  li.dropdown.mega-dropdown
                    a.dropdown-toggle(data-toggle='dropdown' aria-expanded='true')
                      | Liga Inglesa 
                      i.fa.fa-caret-down
                    .custom-menu
                      .row
                        .col-md-4
                          ul.list-links
                            li
                              h3.list-links-title Equipos
                            
                            /////////////////
                            - var produ = productos
                            
                            - produ.forEach(function(producti){
                                if producti.liga === "Inglesa"
                                 li
                                  a(href='/producto/'+producti.id) #{producti.titulo}
                            - });
                          hr.hidden-md.hidden-lg
                 

              // /category nav
              // menu nav
              .menu-nav
                span.menu-header
                  | Menu 
                  i.fa.fa-bars
                | 
                ul.menu-list
                  li
                    a(href='#') Incio
                  | 
                  li
                    a(href='#') Metodo de pago/Entregas
                  |             
                  li
                    a(href='#') Quienes somos
                  | 
                  li
                    a(href='#') Contactenos
                  | 
                  li
                    a(href='#')
              // menu nav
          // /container
        // /NAVIGATION
        // BREADCRUMB
        #breadcrumb
          .container
            ul.breadcrumb
              li
                a(href='/') Inicio
              | 
              li
                a(href='#') Camisetas
              | 
              li
                a(href='#') #{producto.liga}
              | 
              li.active  #{producto.titulo}
        // /BREADCRUMB
        // section
        .section
          // container
          .container
            // row
            .row
              // Product Details
              .product.product-details.clearfix
                .col-md-6
                  #product-main-view
                    .product-view
                      img(src=producto.imagePath, alt='')
                    | 
                  | 
                  
                | 
                .col-md-6
                  .product-body
                    .product-label

                    | 
                    h2.product-name  #{producto.titulo}
                    | 
                    h3.product-price $#{producto.precio}
                     
                  | 
                  p
                    strong Disponibilidad:
                    if producto.cantidad > 1
                      |   Disponible
                    else
                      |  Para Pedidos
                  | 
                  p
                    strong Marca:
                    |  E-SHOP
                  | 
                  p
                    | #{producto.descripcion}
                  | 
                  .product-options
                    ul.size-option
                      li
                        span.text-uppercase Tamaño:
                      | 
                      form(action='/add-to-cart/' + producto.id , method= 'POST')
                        input#tamano(type='radio', name='tamano', value='S')
                        |  Small
                        br
                        input#tamano(type='radio', name='tamano', value='M' checked)
                        |  Medium
                        br
                        input#tamano(type='radio', name='tamano',value='L')
                        |  Large
                        br 
                        input(type='hidden', name='_csrf', value=csrfToken)                                         
                        button.primary-btn.add-to-cart(type='submit')
                          i.fa.fa-shopping-cart
                            |  Agregar al carrito
                    | 
                  | 

              .col-md-12
                .product-tab
                  ul.tab-nav
                    li.active
                      a(data-toggle='tab', href='#tab1') Description
                    | 
                    li
                      a(data-toggle='tab', href='#tab1') Details
                  | 
                  .tab-content
                    #tab1.tab-pane.fade.in.active
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                        | irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    
    //FIN COMIDA             
     