extends basehead

block contenido
    if products
        .row
            .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
                ul.list-group
                    - var values = products
                    each val in values.length
                        li.list-group-item
                            span.badge #{session.cart.qty}
                            strong #{session.cart.title}
                            span.label.label-success #{session.cart.precio}
                            .btn-group
                                button.btn.btn-primary.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown')
                                    | Action 
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href='/reduce/#{session.cart._id}') Reduce by 1
                                    li
                                        a(href='/remove/#{session.cart._id}') Remove All
                        |
        .row
            .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
                strong Total: #{session.cart.totalPrice}
        hr
        .row
            .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
                a.btn.btn-success(href='/checkout', type='button') Checkout
    else 
        .row
            .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
                h2 No Items in Cart
